{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
          <div class="form-group">
              <h3> Adding Problem</h3>
              <br>
          <input type="button" onclick="problem_add.style.display='block';problem_delete.style.display='none';" value="Add Problem">
          <input type="button" onclick="problem_delete.style.display='block';problem_add.style.display='none';" value="delete Problem">

          <form action="/deleting" name='problem_delete' style="display:none" method="post">
          <div class="form-group">
              Problems: <select name="problem_delete">

                        {% for problem in problems %}
                            <option value={{problem.id}} selected>{{problem.title}}</option>
                        {% endfor %}
                        </select><br/>
          </div>
          <input type="submit" value="Delete"/><br/>
          </form>

          <form action="/adding" name='problem_add' style="display:none" method="post">
              <div class="form-group">
              Title: <input type="text" name="title"/>
              </div>
              <div class="form-group">
              Difficult: <select name="difficulty">
                          <option value="Easy" selected>Easy</option>
                          <option value="Medium">Medium</option>
                          <option value="Hard">Hard</option>
                        </select><br/>
              </div>
              <div class="form-group">
              Content: <textarea name="Content"></textarea>
              </div>
              <div class="form-group">
              Input: <textarea name="Input"></textarea>
              </div>
              Output: <textarea name="Output"></textarea><br/>
              Explanation: <textarea name="Explanation"></textarea><br/>
              Constraint: <textarea name="Constraint"></textarea><br/>
<!--              Test_case1: <input type="text" name="Test_case1"/><br/>-->
              <input type="submit" value="Upload"/><br/>
          </form>
          </div>
    </article>

{% endblock content %}