{% extends "layout.html" %}
{% block content %}

<div class="content-section">
        <form action="/codingide" method="post" accept-charset="UTF-16" enctype="multipart/form-data">
            <textarea rows="10" cols="70" name="code_editor"
>#include<bits/stdc++.h>
using namespace std;
int main()
{
   return 0;
}
            </textarea>
            <br>
            <br>
            Input
            <br>
            <textarea value='Input' name="input" ></textarea>
            <br>
            <br>
                <input type="submit" value="Run"/>
        </form>
</div>

{% endblock content %}