{% extends "layout.html" %}
{% block content %}
        <article class="media content-section">
          <div class="">
              subjec
          </div>
          <div class="flex-container">
              <div class="box-container">
                  <div class="article-metadata">
                  <a class="mr-2">subject name</a>
                  </div>
                  <small class="text-muted2">uploaded by - rahul</small>
<!--                  <h2><a class="article-title" href="#">filename</a></h2>-->
              </div>
              <div class="box-container">
                  <div class="article-metadata">
                  <a class="mr-2">subject name</a>
                  </div>
                  <small class="text-muted2">uploaded by - rahul</small>
                  <h2><a class="article-title" href="#">filename</a></h2>
              </div>
              <div class="box-container">
                  <div class="article-metadata">
                  <a class="mr-2">subject name</a>
                  </div>
                  <small class="text-muted2">uploaded by - rahul</small>
                  <h2><a class="article-title" href="#">filename</a></h2>
              </div>
          </div>
        </article>
{% endblock content %}