{% extends "layout.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    {% for problem in data %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('problems',problem_id=problem.id) }}">#{{ problem.id }}</a>
              <small class="text-muted">{{ problem.title }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('problems',problem_id=problem.id) }}">{{ problem.title }}</a></h2>
            <p class="article-content">{{ problem.difficulty }}</p>
          </div>
        </article>
    {% endfor %}
    {% else %}
    <div class="images" ">
        <img src="static/welcome.jpeg" alt="Welcome to CodingIde">
    </div>

    {% endif %}
{% endblock content %}